:root {
    --primary-color: #0f111a;
    --secondary-color: #090b10;
    --border-color: #1e212d;
    --hover-color: #13151e;
    --text-color: #b2ccd6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure the container fills the entire height */
    width: 100%;
}
.navigation {
    flex: 0 0 35px;
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-color);
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid var(--border-color);
    align-items: center;
    gap: 10px;
    color: var(--text-color);
}
.navigation button {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 3px;
    color: var(--text-color);
    font-size: 100%;
}
.navigation button:hover {
    background-color: var(--hover-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;
}
.navigation .AddressAndSearch {
    flex: 1;
    flex-direction: row;
    display: flex;
    gap: 5px;
    width: 100%;
    height: 70%;
}
.navigation .AddressAndSearch input {
    text-align: left;
    overflow: scroll;
    height: 100%;
    padding-left: 5px;
}
.address {
    background-color: var(--hover-color);
    border-radius: 5px;
    height: 100%;
    width: 80%;
}
.search {
    background-color: var(--hover-color);
    border-radius: 5px;
    height: 100%;
    width: 20%;
}
.AddressAndSearch input {
    width: 100%;
    background: none;
    border: 0;
    color: var(--text-color);
}
.toolbar {
    flex: 0 0 30px; /* Fixed height for toolbar */
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-color);
    padding: 5px;
    border-bottom: 1px solid var(--border-color);
    align-items: center;
    gap: 10px;
    color: var(--text-color);
}
.toolbar button {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 3px;
    color: var(--text-color);
    font-size: 100%;
}
.toolbar button:hover {
    background-color: var(--hover-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;
}
.below_Toolbar {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1; /* Allow this section to grow and fill the remaining space */
    width: 100%;
    overflow: hidden; /* Prevent overflow of content */
}
.sidebar {
    width: 250px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding-top: 10px;
    padding-left: 10px;
    border-right: 1px solid var(--border-color);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    max-height: 100%; /* Adjust height to fit below the info bar */
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-color: var(--border-color) var(--primary-color);
}
.sidebar::-webkit-scrollbar-thumb:vertical:hover {
    scrollbar-color: var(--hover-color) var(--primary-color); /* Change thumb color */
}
.sidebar .item {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: larger;
    margin-bottom: 5px;
    border-radius: 1px;
    border: 1px solid transparent;
    width: 100%;
    text-align: start;
}
.sidebar .item:hover {
    border-color: var(--border-color);
    background-color: var(--hover-color);
}
.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--primary-color);
    overflow: hidden; /* Prevent overflow issues */
    min-width: 150px;
}
.content {
    height: 100%;
    width: 100%;
    padding: 10px;
    padding-top: 20px;
    padding-left: 30px;
    overflow-y: auto; /* Enable vertical scrolling for content */
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start; /* Align items to the top */
    align-content: flex-start;
    max-height: 100%; /* Adjust height to fit below the info bar */
    scrollbar-color: var(--border-color) var(--primary-color);
}
.content::-webkit-scrollbar-thumb:vertical:hover {
    scrollbar-color: var(--hover-color) var(--primary-color); /* Change thumb color */
}
.file {
    width: 100px;
    height: 100px;
    color: var(--text-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    overflow: hidden;
    text-align: center; /* Center text inside the file box */
}
.file img {
    max-height: calc(100% - 2.5em);
}
.file-name {
    user-select: none;
    overflow: hidden;            /* Hide overflowing text */
    text-overflow: ellipsis;     /* Add ellipsis for overflowing content */
    display: -webkit-box;        /* Enable webkit box layout */
    -webkit-box-orient: vertical; /* Set box orientation to vertical */
    -webkit-line-clamp: 2;       /* Limit to 2 lines */
    line-clamp: 2;
    max-width: 85px;
    line-height: 1.2em;          /* Adjust line height to fit text neatly */
    max-height: calc(1.2em * 2); /* Match the line height for 2 lines */
    word-wrap: break-word;       /* Break long words if needed */
    margin-top: 5px;             /* Add spacing between the icon and the text */
}
.file:hover {
    background-color: var(--hover-color);
    border: 1px solid var(--border-color);
}
.info_bar {
    flex: 0 0 auto; /* Ensure the info bar doesn’t shrink or grow */
    border-top: 1px solid var(--border-color);
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 3px;
    position: sticky; /* Keep the info bar fixed at the bottom of the container */
    bottom: 0;
    z-index: 1; /* Ensure the info bar stays above the content */
}
.preview {
    flex: 0 0 300px;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    border-left: 1px solid var(--border-color);
    font-size: 35px;
    gap: 10px;
    justify-content: center;
    color: var(--text-color);
    min-width: 150px;
}
.resizer {
    width: 5px;
    background-color: #ccc;
    cursor: ew-resize;
    flex: 0 0 auto;
}
.resizer:hover {
    background-color: #aaa;
}
.tooltip {
    visibility: hidden;
    /*width: 120px;*/
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid var(--border-color);

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    white-space: pre-line;
}

.file:hover .tooltip {
    transition-delay: 1s;
    visibility: visible;
}
